@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


/* Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,h2,h3,h4,
p, ul {
  margin: 0;
}

html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  background: linear-gradient(to bottom, rgb(90, 75, 240), rgb(132, 195, 239),
    rgb(62, 101, 164), rgb(207, 173, 167),
    rgb(129, 119, 165), rgb(178, 164, 179),
    rgb(241, 68, 57), rgb(216, 110, 75));

  background-size: 100% 800%;
  background-position: top;
  background-repeat: no-repeat;
  transition: background-position .8s ease-out;
}
body.clear {background-position: top;}
body.rain {background-position: 0% 35%;}
body.fog {background-position: 0% 65% }
body.sunny {background-position: bottom;}



/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  user-select: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ======Loading==== */

.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba( 255, 255, 255, 0.2 );
  -webkit-backdrop-filter: blur( 15px );
  backdrop-filter: blur( 15px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

  z-index: 910;
}

.ring-container {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #cef;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #cef transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.content-wrapper {
  position: relative;
  visibility: hidden;
}


/* ========First View======== */

.first-view {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  text-align: center;
  text-shadow: 2px 2px 3px #777;
}

.first-view > p {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 18px;
  color: #eee;
}

.first-view > img {
  display: inline-block;
  width: 95px;
  height: 95px;
  animation: rotate 4s linear infinite;

}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* ================ */


.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 30rem;
  padding: 1.35rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container {
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 18px 0 rgba(75, 81, 158, 0.37);
  -webkit-backdrop-filter: blur( 10px );
  backdrop-filter: blur( 10px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.form {
  height: 40px;
  display: flex;
  position: relative;
}

.form-controls {
  width: 30px;
  height: 100%;
  flex: 1;
  padding-left: 1rem;
  color: #fff;
  border-radius: 10px 0 0 10px;}
.form-controls::placeholder {
  color: #fff;
  letter-spacing: 1px;
}
.form-controls:focus {
  outline: none;
  background-color: rgba( 255, 255, 255, 0.3 );
}


.autocomplete-container {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  width: calc(100% - 2.6rem);
  max-height: 204px;
  padding: 0 15px;

  border: 1px solid #eee;
  z-index: 915;
  list-style: none;
  overflow-y: auto;
}
.list-item {
  padding: 5px 0 5px 15px;
  cursor: pointer;
  transition: background-color .1s;
}

.list-item + * {
  border-top: 1px solid rgba( 255, 255, 255, 0.4 );
}

.list-item:focus,
.list-item:hover {
  background-color: rgba( 255, 255, 255, 0.2 );
}

.hidden {
  animation: fadeIn .1s ease-out forwards;
}

.visible {
  animation: fadeOut .1s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

.autocomplete-container::-webkit-scrollbar {
  -webkit-appearance: none;
}

.autocomplete-container::-webkit-scrollbar:vertical {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgb(16, 170, 213), rgb(112, 88, 240), rgb(158, 81, 252));
  border-radius: 10px;
  border: 1px solid #eee;
}

::-webkit-scrollbar-track { 
  background-color: rgba( 0, 0, 0, 0);
  border-left: 1px solid #eee;
}

.alert {
  padding: 5px 15px;
  color: rgb(242, 44, 9);
  font-style: italic;
}
.alert-body {
  visibility: hidden;
  position: absolute;
  top: 0px;
  left: 5%;
  width: 90%;
  text-align: center;
  padding: 5px 15px;
  color: rgb(242, 44, 9);
  font-style: italic;
  font-weight: 700;
  z-index: 911;
}

.animate-alert {
  visibility: visible;
  animation: alert 3s linear forwards;
}

@keyframes alert {
  0% {
    top: 40px;
    opacity: .1;
  }
  15% {
    top: 0px;
    opacity: 1;
  }
  80% {
    top: 0px;
    opacity: 1;
  }
  100% {
    top: -20px;
    opacity: 0;
  }
}


.search-btn {
  width: 2.6rem;
  height: 100%;
  background-color: rgba( 255, 255, 255, 0.65 );
  background-image: url("./images/icon-search.png");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 8px 18px 0 rgba(75, 81, 158, 0.37);
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.location-info {
  text-align: center;
}

.location_img {
  width: 1.3rem;
  height: 1.3rem;
  display: inline-block;
}
.location_text {
  font-weight: 500;
}


.main {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  text-align: center;
}

.weather-data {
  display: flex;
  justify-content: center;
}

.weather_state {
  width: 40%;
  max-width: 5.4rem;
  align-self: flex-start;
}

.temperature {
  font-size: 72px;
  line-height: 1.4;

}

.extra_weather_info {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.extra_info_card {
  position: relative;
  text-align: center;
  font-size: .8em;
  font-weight: 500;
  flex: 1;
}

.decoration_line {
  width: 1px;
  border-radius: 50%;
  height: 50px;
  background-color: #fff;
}

.extra_info_title {
  display: flex;
  gap: 3px 10px;
  justify-content: center;
  white-space: nowrap;
}

.extra_info_title > img{
  width: 18px;
  display: inline-block;
}

.extra_info_units {
  font-size: 0.62em;
  font-weight: 500;
}

.extra_info_data {
  font-size: 1.4rem;
  line-height: 2;
}

.weekly {
  padding: .5rem;
  display: flex;
  justify-content: space-evenly;
}

.day_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day_card > img {
  max-width: 4rem;
}

.day_card > h2 {
  font-size: .9rem;
  font-weight: 500;
}

.date_weekly {
  font-size: 0.9rem;
  line-height: 1.2;
}

.temp_weekly {
  margin-top: auto;
  font-weight: 500;
  font-size: 1.2rem;
}


@media (max-width: 26rem) {
  .extra_info_title {
    flex-direction: column;
    align-items: center;
  }

  .day_card > img {
    max-width: 3rem;
  }

  .temp_weekly {
    font-size: .9rem;
  }
}
